.details {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.extra {
  font-size: 12px;
}
.description {
  font-size: 14px;
}
.description > * {
  margin-bottom: 20px;
}

.active {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: none;
  border-radius: 32px;
  background-color: #f2f4f5;
  cursor: pointer;
}
@media (max-width: 720px) {
  .details {
    grid-template-columns: 1fr;
  }
}
